body {
    background-color: #F3F5FC;
    display: flex;
    height: 90vh;
    width: 90vw;
    min-height: 100%;
    font-family: 'Inter', sans-serif;
}

textarea {
    background-color: #F3F5FC;
    color: #0A3871;
    /*remove a borda das caixas de textArea*/
    border: none;
    outline: none;
    /*Tira o icone de mudar o tamanho da caixa*/
    resize: none;
}

#logo {
    margin: 22% 0 0 3% ;
}

#logo:hover {
    animation: expandir 1s linear;
}

.titulo {
    position: absolute;
    top: 4%;
    left: 25%;
    font-size: 150%;
    line-height: 150%;
    color: #0A3871;
}
.titulo:hover {
    animation: piscar 1s linear infinite;
}


.entrada {
    box-sizing: border-box;
    width: 55%;
    height: 90%;
    margin: 20px 0 0 0px;
    justify-content: center;
    padding: 10px 80px;
}

.resultados {
    /*Monta um box branco*/
    position: absolute;
    width: 25%;
    height: 90%;
    left: 63%;
    top: 15px;
    background: #FFFFFF;
    box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.1);
    border-radius: 32px;
}


.txt-area1 {
    /*Caixa para entrada de texto*/
    position: absolute;
    width: 45%;
    height: 45%;
    left: 8.5%;
    top: 15%;

    border: none;
    background-color: transparent;
    margin: 30px 20px 10px 20px;
    
    font-size: 20px;
    text-align: left;
    color: #0A3871;
    /*Impede a entrada de maiúsculas sem precisar de JavaScript*/
    text-transform:lowercase;
}

.txt-area2 {

    position: absolute;
    width: 90%;
    height: 110px;
    left: 0px;
    top: 65%;
    border: none;
    background-color: transparent;
    margin: 30px 20px 10px 20px;
    font-size: 17px;
    text-align: center;
    color: #495057;
    /*Impede a entrada de maiúsculas sem precisar de JavaScript*/
    text-transform:lowercase;
}

#saida {

    position: absolute;
    width: 85%;
    height: 70%;
    left: 0px;
    top: 3%;
    border: none;
    background-color: transparent;
    margin: 30px 20px 10px 20px;
    font-size: 17px;
    text-align: center;
    color: #495057;
    /*Impede a entrada de maiúsculas sem precisar de JavaScript*/
    text-transform:lowercase;
}

.info {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 8px;
    
    position: absolute;
    width: 340px;
    height: 18px;
    left: 10%;
    top: 74%;
}

.info p {
    font-size: 12px;
    color: #495057;
    margin: 0 0 0 5px;
}

#iconExclamacao {
    animation: expandir 0.4s linear infinite;
    animation: piscar 0.4 linear infinite;
}

.botoes {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 13%;
    height: 67px;
    left: 10%;
    top: 79%;
}

.botaoCopia {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
    position: absolute;
    width: 50%;
    height: 10%;
    left: 12%;
    top: 85%;
}

.botao1 {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 150%;
    height: 60px;
    
    /* Dark blue/dark-blue-300 */
    
    background: #0A3871;
    border-radius: 24px;
    box-shadow: 10px 10px 20px -8px rgba(0, 0, 0, 1);
    
    color: white;
    /*Alinha o texto no centro do botão*/
    justify-content: center;
    align-items: center;
    /* Inside auto layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
}

.botao1:hover {
    background-color:#2B363B;
    filter: drop-shadow(2px 4px 2px #00000025);
}
.botao1:active{
    box-shadow: none;
}

.botao2 {
    /* Button */
    box-sizing: border-box;
    /* Auto layout */
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;
    
    width: 150%;
    height: 60px;
    
    /* Light gray */
    
    background: #D8DFE8;
    /* Dark blue/dark-blue-300 */
    
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    box-shadow: 10px 10px 20px -8px rgba(0, 0, 0, 1);

    /*Alinha o texto no centro do botão*/
    justify-content: center;
    align-items: center;

    /* Inside auto layout */
    flex: none;
    order: 1;
    flex-grow: 0;
}

.botao2:hover {
    color: #0A3871;
    border-color: #0F4C81;
    background: #FFFFFF;
    filter: drop-shadow(2px 4px 2px #00000025); 
}

.botao2:active{
    box-shadow: none;
}


.naoEncontrado {
    text-align: center;
    justify-content: center;
}
.naoEncontrado h2 {
    font-size: 25px;
    animation: expandir 0.5s linear;
}

.lupa {
    width: 90%;
    height: 45%;
    margin: 30px 0px 0px 0px;  
    animation: piscar 1.8s linear infinite;
}


footer {
        display: flex;
        position: absolute; 
        flex-direction: column;
        text-align: center;    
        font-size: 18px;
        color: #0A3871;
        height: 4 rem; 
        width: 95%; 
        bottom: 0px;
}

footer a {
    text-decoration: none;
    color: #0A3871;
}

@keyframes piscar {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0.7;
    }
    100%{
        opacity: 1;
    }
}

@keyframes expandir {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
    100%{
        transform: scale(1);
    }
}
